networks:
  frontend:
    name: frontend
    external: true

volumes:
  portainer_data:

services:
  app:
    image: portainer/portainer-ce
    container_name: ${SERVICE}
    hostname: ${SERVICE}
    restart: unless-stopped
    deploy:
      resources:
        limits:
          cpus: "0.25"
          memory: 256M
    environment:
      - TZ=America/Sao_Paulo
    volumes:
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
    networks:
      - frontend
    labels:
      - "traefik.enable=true"
      - "traefik.http.services.${SERVICE}.loadbalancer.server.port=9000"

      - "traefik.http.routers.${SERVICE}.rule=Host(`${SERVICE}.${DOMAIN}`)"
      - "traefik.http.routers.${SERVICE}.entrypoints=web"
      - "traefik.http.routers.portainer.middlewares=ssl-header"

  autoheal:
    image: willfarrell/autoheal:latest
    container_name: autoheal
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "0.25"  # 25% de um núcleo é mais que suficiente
          memory: 64M   # Ele gasta pouquíssima RAM (geralmente < 20MB)
    environment:
      - AUTOHEAL_CONTAINER_LABEL=all
      - AUTOHEAL_INTERVAL=10  # Checa a cada 10s (Opcional, padrão é 5)
    network_mode: none
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /var/run/docker.sock:/var/run/docker.sock